@import "@fontsource/roboto/300-italic.css";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400-italic.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";
@import "../public/fonts/Calibre/Calibre";
@import "../public//fonts//JetBrainsMono/JetBrainsMono";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(112, 0, 255, 0.05);
  cursor: none !important;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #080707;
  z-index: 50,
}

::-webkit-scrollbar-thumb {
  background-color: #67656a;
  border-radius: 8px;
  z-index: 50,
}

body {
  background: rgba(18,14,22,1);
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -ms-overflow-style: scrollbar;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(18,14,22,1);

  @media (min-width: 320px) {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    font-size: 15px;
  }
  @media (min-width: 1024px) {
    font-size: 16px;
  }
  @media (min-width: 1536px) {
    font-size: 18px;
  }
  @media (min-width: 1800px) {
    font-size: 20px;
  }
  @media (min-width: 2000px) {
    font-size: 22px;
  }
}